/* body {
  margin: 0;
  padding: 0;

  align-items: center;
  justify-content: center;

  background-color: darkgray;
} */
/* img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
} */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #6480af;
  border-left: 20px solid #5c7aa3;
  border-right: 20px solid #5c7aa3;
  height: 100vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c7aa3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #a4b4d0;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

/* .left {
  float: left;
} */
.nav {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav li {
  margin: 1px 0;
  border: 1px solid #4b6491;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 10px;
  width: 69px;
}
.nav li a {
  display: block;
  line-height: 3em;
  text-decoration: none;
}
.center {
  margin: auto;
  width: 300px;
  padding: 10px;
}
.przepisy {
  float: left;
  margin-left: 30px;
}
.przepisy > * {
  margin: 3px;
  display: inline-block;
}

.przepisy p {
  width: 70px;
  font-size: 10px;
  text-align: center;
  color: #a4b4d0;
}
.user {
  font-weight: bold;
}

button {
  background-color: #5c7aa3;
  border: solid #49628d;
  color: #a4b4d0;
  margin: 3px;
  float: left;
  margin-left: 12px;
  width: 80px;
}
.lista {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  border: 22px solid #49628d;
  width: 226px;
  background-color: #516e9e;
  color: #a4b4d0;
}
.jedzenie {
  float: left;
  margin-left: 12px;
  border: 22px solid #5c7aa3;
  width: 230px;
  color: white;
}
h3 {
  font-size: small;
  color: white;

  text-align: center;
}
h4 {
  font-size: small;
  color: white;
  float: left;

  text-align: center;
}
.przejdz {
  float: left;
  margin-left: 76px;
}
.dodaj {
  float: left;
  margin-left: 76px;
}
table,
th,
td {
  border: 1px solid #a4b4d0;
}
.wazenie {
  border: 2px solid #a4b4d0;
  color: white;
}
.objekt_listy {
  float: none !important;
}
.tytul_listy {
  margin-left: 20px;
  background-color: solid #5c7aa3;
}
